{# Displays json field with nested json fields. Parameters needed:
	array - the array that will be iterated for values
	labelsAndProps - a json object with keys as labels and values as entity property names
#}
{% for label, propName in labelsAndProps %}
	<div class="flex flex-col gap-4">
		<div class="text-white">{{ label }}:
			{% if array[propName] is iterable %}
				{# Display each item in array, if it's not last item, display comma as well #}
				{% for i in range(0, array[propName]|length - 1) %}
					<span class="text-gray-400">
						{{ array[propName][i] }}{{ i == array[propName]|length - 1 ? "" : ", " }}
					</span>
				{% endfor %}
			{% else %}
				<span class="text-gray-400">
					{{ array[propName] }}
				</span>
			{% endif %}
		</div>
		<hr class="h-px bg-gray-200 border-0 dark:bg-gray-700">
	</div>
{% endfor %}